<h1>Welcome!</h1>

<p>This will be the user's welcome page. Click on a restaurant to see its ratings.</p>
<% @restaurants.each do |restaurant| %>
  <p>
    <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
    <span><%= "\u2713".encode('utf-8') if @user.has_reviewed?(restaurant)%></span>
  </p>
<% end %>