<h1>Ratings</h1>

<table>
  <tr>
    <th>Restaurant</th>
    <th>Stars</th>
    <th>Notes</th>
  </tr>
  <% @ratings.each do |r| %>
    <tr>
      <td><%= r.restaurant.name %></td>
      <td><%= r.star %></td>
      <td><%= r.notes %></td>
    </tr>
  <% end %>
</table>