<h1>Rating</h1>

<table>
  <tr>
    <th>Restaurant</th>
    <th>Stars</th>
    <th>Notes</th>
  </tr>
  <tr>
    <td><%= @rating.restaurant.name %></td>
    <td><%= @rating.stars %></td>
    <td><%= @rating.notes %></td>
  </tr>
</table>